.editor-content {
  h1 {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 0.75rem;
  }

  h2 {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 0.65rem;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.55rem;
  }

  h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.45rem;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.35rem;
  }

  h6 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.25rem;
  }

  strong {
    font-weight: 600;
  }

  u {
    text-decoration: underline;
  }

  ol {
    padding-left: 1.5rem;
    list-style-type: decimal;
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  .ql-align-right {
    text-align: right;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-justify {
    text-align: justify;
  }

  .ql-align-left {
    text-align: left;
  }

  [style^="color:"] {
    font-weight: normal;
  }

  [style^="background:"] {
    padding: 2px 5px;
    border-radius: 3px;
  }
}
